
<section class="profile">
    <div class="container">
        <h2>JOHN MORASKIE</h2>

            <div class="col-md-3 profile-left">
                <h4> User Profile</h4>
                <p> User ID</p>
                <p>ifdesgaaa@gmail.com</p>
                <p>5087264907</p>
                <a href="#!" target="_blank" class="btn btn-edena btn-mobile">Edit Profile</a>
                <h4>Payment Method</h4>
                <a href="#!" target="_blank" class="btn btn-edena btn-mobile">Edit Payment</a>
            </div>

            <div class="col-md-9 profile-right">
                <div class="order">
                <div class="col-md-4 order">
                    <h5>Past Order</h5>
                    <div class="orderGrid">
                        <p>ROOM NAME</p>
                        <p>EDENA COLLECTION</p>
                        <p>April 04-May 06, 2017</p>
                        <p>3 guests</p>
                        <p>No Special Requests</p>
                        <a href="#" target="_blank" class="btn btn-edena btn-mobile">VIEW DETAILS</a>
                </div>
            </div>

                    <div class="col-md-4 order">
                        <h5>Past Order</h5>
                        <div class="orderGrid">
                            <p>ROOM NAME</p>
                            <p>EDENA COLLECTION</p>
                            <p>April 04-May 06, 2017</p>
                            <p>3 guests</p>
                            <p>No Special Requests</p>
                            <a href="#" target="_blank" class="btn btn-edena btn-mobile">VIEW DETAILS</a>
                        </div>
                    </div>

                    <div class="col-md-4 order">
                        <h5>Past Order</h5>
                        <div class="orderGrid">
                            <p>ROOM NAME</p>
                            <p>EDENA COLLECTION</p>
                            <p>April 04-May 06, 2017</p>
                            <p>3 guests</p>
                            <p>No Special Requests</p>
                            <a href="#" target="_blank" class="btn btn-edena btn-mobile">VIEW DETAILS</a>
                        </div>
                    </div>
                </div>

                <div class="order">
                    <div class="col-md-4 order">
                        <div class="orderGrid">
                            <p>ROOM NAME</p>
                            <p>EDENA COLLECTION</p>
                            <p>April 04-May 06, 2017</p>
                            <p>3 guests</p>
                            <p>No Special Requests</p>
                            <a href="#" target="_blank" class="btn btn-edena btn-mobile">VIEW DETAILS</a>
                        </div>
                    </div>

                    <div class="col-md-4 order">
                        <div class="orderGrid">
                            <p>ROOM NAME</p>
                            <p>EDENA COLLECTION</p>
                            <p>April 04-May 06, 2017</p>
                            <p>3 guests</p>
                            <p>No Special Requests</p>
                            <a href="#" target="_blank" class="btn btn-edena btn-mobile">VIEW DETAILS</a>
                        </div>
                    </div>

                    <div class="col-md-4 order">
                        <div class="orderGrid">
                            <p>ROOM NAME</p>
                            <p>EDENA COLLECTION</p>
                            <p>April 04-May 06, 2017</p>
                            <p>3 guests</p>
                            <p>No Special Requests</p>
                            <a href="#" target="_blank" class="btn btn-edena btn-mobile">VIEW DETAILS</a>
                        </div>
                    </div>
                </div>
    </div>

    </div>

</section>