<div class="container">
    <form class="form-horizontal">
        <h5>Reservation Number</h5>
        <input type="text"
               class="form-control input-block"
               ng-model="model.resv.reservationnumber"
               readonly>

        <h5>Checkin Date</h5>
        <input type="date"
               class="form-control input-block"
               placeholder="date"
               ng-model="model.formatcheckindate"
               id="pass">

        <h5>Checkout Date</h5>
        <input type="date"
               class="form-control input-block"
               placeholder="date"
               ng-model="model.formatcheckoutdate">

        <h5>Number of People</h5>
        <input type="text"
               class="form-control input-block"
               placeholder="people"
               ng-model="model.resv.people">

        <h5>First Name</h5>
        <input type="text"
               class="form-control input-block"
               placeholder="first name"
               ng-model="model.resv.firstname">

        <h5>Last Name</h5>
        <input type="text"
               class="form-control input-block"
               placeholder="last name"
               ng-model="model.resv.lastname">

        <h5>Card Number</h5>
        <input type="number"
               class="form-control input-block"
               placeholder="card number"
               ng-model="model.resv.cardnumber">

        <h5>Exp Mounth</h5>
        <input type="number"
               class="form-control input-block"
               placeholder="exp mounth"
               ng-model="model.resv.expmounth">

        <h5>Exp Year</h5>
        <input type="number"
               class="form-control input-block"
               placeholder="exp year"
               ng-model="model.resv.expyear">

        <h5>CVV</h5>
        <input type="number"
               class="form-control input-block"
               placeholder="cvv"
               ng-model="model.resv.cvv">

        <h5>Status</h5>
        <input type="text"
               class="form-control input-block"
               placeholder="status"
               ng-model="model.resv.status">


        <a class="btn btn-primary btn-block"
           role="button"
           ng-click="model.updateReservation()">Update</a>
    </form>
</div>